{
    "extends": [
        "stylelint-config-prettier-scss",
        "stylelint-config-standard-scss",
        "stylelint-config-recommended-vue/scss",
        "stylelint-config-html/vue",
        "stylelint-config-recess-order",
        "stylelint-config-standard"
    ],
    "customSyntax": "postcss-html",
    "rules": {
        "selector-class-pattern": null,
        "media-feature-range-notation": "prefix",
        "no-invalid-position-at-import-rule": null,
        "no-descending-specificity": null,
        "media-query-no-invalid": null,
        "selector-pseudo-class-no-unknown": [true, {
            "ignorePseudoClasses": ["deep"]
        }],
        "function-no-unknown": [true, {
            "ignoreFunctions": ["v-bind"]
        }],
        "value-keyword-case": null,
        "import-notation": null
    },
    "overrides": [
        {
            "files": ["*.sass", "**/*.sass"],
            "customSyntax": "postcss-sass"
        },
        {
            "files": ["*.html", "**/*.html"],
            "customSyntax": "stylelint-config-html"
        }
    ]
}
